.gitignore

indexJP.html
portfolio_page_frame_mobile.ai
portfolio_page_frame2.ai
stuffThatDon'tWork.js
main.ts
img/mao-yuqing-jXhpoxtcUs0-unsplash.jpg
img/JobSelectorImg.PNG
extra/portfolio_page_frame.svg
extra/portfolio_page_frame2.svg
img/Portrait.webp
main.js
